body {
  margin: 0;
  min-width: 1280px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 21px;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  text-transform: none;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: block;

  color: #ffffff;
  font-weight: 700;
  text-align: center;

  background-color: #766357;
}

.btn:hover {
  background-color: #604e43;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.container {
  position: relative;

  margin: 0 auto;
  width: 1200px;

  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.navigation {
  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;

  width: 140px;
  height: 72px;
  margin-left: -70px;
}

.navigation-site {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  font-weight: 700;
  line-height: 26px;

  list-style: none;
}

.navigation-item {
  padding: 14px 0;
  padding-bottom: 16px;
  padding-left: 72px;
  width: 239px;
  box-sizing: border-box;
}

.navigation-item:nth-child(2) {
  margin-right: auto;
}

.navigation-item:nth-child(3n),
.navigation-item:nth-child(4n) {
  padding-left: 0;
  padding-right: 72px;

  text-align: right;
}

.navigation-item:nth-child(3) {
  padding-right: 75px;
}

.navigation-link {
  color: #000000;
}

.navigation-link:not(.navigation-current):hover {
  color: #81b3d2;
}

.navigation-link:not(.navigation-current):active {
  color: #000000;

  opacity: 0.3;
}

.navigation-current {
  color: #766357;
}

.index {
  padding-top: 568px;

  background-image: url('../img/bg-welcome.png'),
                    url('../img/bg-main-index.jpg');
  background-position: top 76px center,
                       top center;
  background-repeat: no-repeat;
}

.index h1 {
  margin: 0 380px;
  margin-bottom: 27px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.advantage-page {
  margin: 0;
  margin-bottom: 51px;

  color: #333333;
  line-height: 26px;
  text-align: center;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantage-item {
  width: 400px;

  background-color: #eeeeee;
}

.advantage-item:first-child,
.advantage-item:nth-child(2) {
  width: 100%;
}

.advantage-item:first-child .wrapper-advantage-item {
  padding-right: 800px;

  color: #ffffff;

  background-color: #81b3d2;
  background-image: url('../img/bg-advantage1.jpg');
  background-position: right top;
  background-repeat: no-repeat;
}

.advantage-item:nth-child(2) .wrapper-advantage-item {
  padding-left: 800px;

  color: #ffffff;

  background-color: #81b3d2;
  background-image: url('../img/bg-advantage2.jpg');
  background-position: left top;
  background-repeat: no-repeat;
}

.advantage-title {
  margin: 0 auto;
  margin-bottom: 24px;
  padding-top: 47px;
  width: 151px;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
}

.advantage-number {
  margin: 0;
  margin-bottom: 20px;

  text-align: center;
}

.advantage-item-page {
  margin: 0;
  padding: 0 48px;
  padding-bottom: 60px;

  text-align: center;
}

.advantage-item:nth-child(3) .advantage-item-page,
.advantage-item:nth-child(4) .advantage-item-page {
  padding: 0 60px;
  padding-bottom: 60px;
}

.advantage-item:nth-child(5) .advantage-item-page {
  padding: 0 72px;
  padding-bottom: 60px;
}

.advantage-promo {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  background-color: #ffffff;

  list-style: none;
}

.advantage-promo-item {
  padding-top: 161px;
  width: 400px;

  background-position: top 56px center;
  background-repeat: no-repeat;
}

.advantage-promo-item:first-child {
  background-image: url('../img/home-icon.png');
  background-position: top 60px center;
}

.advantage-promo-item:nth-child(2) {
  background-image: url('../img/food-icon.png');
  background-position: top 61px center;
}

.advantage-promo-item:nth-child(3) {
  background-image: url('../img/souvenir-icon.png');
  background-position: top 56px center;
}

.advantage-promo-item h3 {
  margin: 0;
  margin-bottom: 24px;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
}

.advantage-promo-item p {
  margin: 0 auto;
  margin-bottom: 82px;
  width: 285px;

  color: #333333;
  text-align: center;
}

.search-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.search-hotel-question {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.search-hotel-page {
  margin: 0;
  margin-bottom: 46px;

  color: #333333;
  line-height: 24px;
  text-align: center;
}

.wrapper-search-hotel {
  position: relative;
}

.btn-search-hotel {
  padding: 30px;
  min-width: 568px;
  box-sizing: border-box;

  font-size: 21px;
  line-height: 26px;
}

.search-hotel-form {
  position: absolute;
  top: 86px;
  z-index: 10;

  display: flex;
  flex-wrap: wrap;
  padding: 55px;
  width: 458px;

  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.search-hotel-item {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 30px;

  font-weight: 700;
  line-height: 26px;
}

.arrival,
.departure {
  width: 100%;
}

.amount-persons,
.amount-children {
  margin-bottom: 54px;
}

.amount-children {
  margin-left: auto;
}

.search-hotel-item input {
  margin-left: auto;
  padding: 4px 10px;
  box-sizing: border-box;

  color: #000000;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.arrival input,
.departure input {
  padding-right: 40px;
  width: 346px;
}

.search-hotel-item input:hover {
  background-color: #ebebeb;
}

.search-hotel-item input:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.arrival a,
.departure a {
  position: absolute;
  top: 8px;
  right: 9px;

  width: 21px;
  height: 22px;
}

.btn-arrival:hover path,
.btn-departure:hover path {
  fill: #000000;
}

.btn-arrival:active path,
.btn-departure:active path {
  fill: #81b3d2;
}

.amount-persons input,
.amount-children input {
  padding: 4px 36px;
  width: 114px;

  text-align: center;
}

.amount-persons input {
  margin-left: 41px;
}

.amount-children input {
  margin-left: 27px;
}

.amount-persons button,
.amount-children button {
  position: absolute;
  top: 0;
  right: 0;

  height: 38px;
  width: 38px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.amount-persons .btn-person-subtract,
.amount-children .btn-children-subtract {
  right: 76px;
}

.btn-person-add::before,
.btn-children-add::before {
  content: '';

  position: absolute;
  top: 18px;
  left: 13px;

  height: 3px;
  width: 11px;

  background-color: #a9a9a9;
}

.btn-person-add::after,
.btn-children-add::after {
  content: '';

  position: absolute;
  top: 14px;
  left: 17px;

  height: 11px;
  width: 3px;

  background-color: #a9a9a9;
}

.btn-person-subtract::before,
.btn-children-subtract::before {
  content: '';

  position: absolute;
  top: 18px;
  left: 13px;

  height: 3px;
  width: 12px;

  background-color: #a9a9a9;
}

.btn-person-add:hover::before,
.btn-children-add:hover::before,
.btn-person-add:hover::after,
.btn-children-add:hover::after,
.btn-person-subtract:hover::before,
.btn-children-subtract:hover::before {
  background-color: #000000;
}

.btn-person-add:active::before,
.btn-children-add:active::before,
.btn-person-add:active::after,
.btn-children-add:active::after,
.btn-person-subtract:active::before,
.btn-children-subtract:active::before {
  background-color: #81b3d2;
}

.btn-search-fotm {
  padding: 16px 10px;
  width: 100%;
  box-sizing: border-box;

  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  border: none;
  background-color: #81b3d2;
}

.btn-search-fotm:hover {
  background-color: #669ec0;
}

.btn-search-fotm:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.map {
  width: 1200px;
  height: 473px;
}

.map-image {
  position: absolute;

  margin: 0;
}

.map-image img {
  display: block;
}

.map iframe {
  position: absolute;
}

.filter-hotel {
  padding: 31px 73px;
  padding-top: 27px;

  background-image: url('../img/filter-background.jpg');
  background-position: top -56px left;
  background-repeat: no-repeat;
}

.filter-hotel-form {
  display: flex;
  flex-wrap: wrap;

  color: #ffffff;
}

.filter-item {
  width: 255px;
}

.filter-cost {
  width: 314px;
}

.wrapper-filter {
  margin-left: auto;
}

.filter-title {
  margin: 0;
  margin-bottom: 24px;

  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.filter-cost .filter-title {
  margin-bottom: 18px;
}

.infrastructure-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-footer {
  display: flex;

  background-color: rgba(254, 254, 254, 0.9);
}

.hashtag-sedona {
  margin: 0;
  padding: 47px 20px;
  width: 360px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 0 20px;
  width: 360px;

  list-style: none;
}

.social-item {
  margin-right: 6px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  margin: 5px 0;
  display: flex;

  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-icon {
  margin: auto;
}

.social-icon path {
  fill: #ffffff;
}

.social-link:hover {
  background-color: #669ec0;
}

.social-link:active {
  background-color: #5496bd;
}

.social-link:active .social-icon {
  opacity: 0.3;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0 20px;
  width: 360px;
}

.copyright-link {
  margin-left: 8px;
  padding-top: 5px;
}

.copyright-link:hover path {
  fill: #81b3d2;
}

.copyright-link:active path {
  fill: #bdbbbc;
}

::-webkit-input-placeholder {
  color: #000000;
  font-weight: 700;
}
::-moz-placeholder {
  color: #000000;
  font-weight: 700;
}
:-ms-input-placeholder {
  color: #000000;
  font-weight: 700;
}
:-moz-placeholder {
  color: #000000;
  font-weight: 700;
}
